<!DOCTYPE html>
<html>
  <head>
    <title>TestFirebase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to(current_user.id, "/") %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "新規登録", users_new_path %>
      <%= link_to "ログイン", :login %>
    <% end %>
    <%= yield %>
  </body>
</html>
