<!DOCTYPE html>
<html>
  <head>
    <title>TestFirebase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 style="background-color: #CBFFD3;"><%= notice %></h3>
    <ul>
      <li>
         <%= link_to("ホーム", "/") %>
      </li>
      <% if current_user %>
        <li>
          <%= link_to(current_user.name, "/users/#{current_user.id}/show") %>
        </li>
        <li>
          <%= link_to "Logout", :logout, method: :post %>
        </li>
    <% else %>
      <li>
        <%= link_to "新規登録", users_new_path %>
      </li>
      <li>
        <%= link_to "ログイン", :login %>
      </li>
      <li>
         <%= link_to 'Googleログイン', auth_at_provider_path(provider: :google) %>
      </li>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
